.div-search {
  width: 870px;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
.div-input {
  /* width: 624px; */
  display: flex;

  border: none;
  height: 25px;
  /* margin: auto; */
}
.Buscar {
  width: 624px;
  border-radius: 25px;
  padding: 3px;
}
.icon {
  position: relative;
  right: 20px;
  margin-top: 3px;
  color: gray;
}
.div-user {
  display: flex;
}
h3 {
  margin-left: 10px;
}
.fa-user {
  margin-top: 4px;
  color: red;
}
