.container-nav {
  height: 1087px;
  width: 330px;
  background-color: #662323;
}
ul li {
  text-decoration: none;
  list-style: none;
  /* color: white; */
  font-size: 16px;
}
ul {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}
h4 {
  color: white;
  font-size: 22px;
  font-weight: 700 bold;
}
.div-imagen {
  width: 250px;
  height: 59px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.pl-8 {
  padding-left: 40px;
  margin-top: 49px;
  margin-bottom: 30px;
}
